html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    padding: 0 0 0 0;
    margin: 0;
    height: 100%;
}

header {
    background-color: #0C322C;
    color: white;
    margin: 0;
    padding: 1em 2ch 1em 2ch;
}

header h1 {
    margin: 0;
}

footer {
    margin-top: 4em;
}

footer p {
    margin: 0 2ch 1em 2ch ;
    font-size: small;
    max-width: 100ch;
}

#last {
    background-color: #0C322C;
    color: white;
    padding-bottom: 2em;
}

main {
    margin: 0 2ch 0 2ch ;
    overflow: hidden;
}

table.suitecompare {
    border-collapse: collapse;
    margin-bottom: 1em;

    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.suitecompare td, .suitecompare th {
    border-bottom: 1px solid #E0DFDF ;
    padding: 3px 1ch 3px 1ch;
}

.suitecompare tr:nth-child(even) {background-color: #f2f2f2;}

.suitecompare td.benchmark, .suitecompare th.benchmark   {
    border-left: 1px solid #E0DFDF ;
}
.suitecompare td.datapoint, .suitecompare th.datapoint   {
    border-left: 1px solid #E0DFDF ;
}
.suitecompare td.datapoint
{
    text-align: right;
}
.suitecompare td.percent, .suitecompare th.percent, .suitecompare th.relperhdr   {
    min-width:4em ;
    padding-right: 2ch ;
}
.suitecompare td.percent {
    text-align: right;
}
.suitecompare th.percent, .suitecompare  th.relperhdr {
    text-align: center;
}
.suitecompare th.percent {
    font-size: x-small;
}
.suitecompare td:last-child, .suitecompare th:last-child {
    border-right: 1px solid #E0DFDF ;
}

.suitecompare td.cmpseparator, .suitecompare th.cmpseparator {
    border-right: 1px solid black ;
}

.suitecompare tr.geomean {
    font-weight: bold;
}

.suitecompare tr:hover {background-color: #E0DFDF ;}

.suitecompare th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #139448 ;
    color: white;
}

.aftertable {
    margin-bottom: 4em;
}

#main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#suite_index {
    margin-right: 5ch;
}
.useless_flexitem {
    margin-right: 5ch;
}

.legend {
    font-size: small;
}

.legend td:nth-child(1), .normalized th:nth-child(1) {
    min-width: 5ch;
    font-weight: bold;
}

table.benchcompare td, table.benchcompare th {
    padding: 3px 1ch 3px 1ch;
}

li + li.break {
    margin-top: 1ex;
}

div#toptools {
    display: flex;
    flex-wrap: wrap;
/*    justify-content: start;*/
    justify-content: space-between;
/*    justify-content: space-around;*/
    align-items: flex-start;
}

div#benchmarktoc {
    margin-right: 5ch;
}

.choice_header {
    padding-top: 0.2em;
    font-weight: bold;
}

a#link_to_self {
    font-size: x-small;
}

div#for_self_link {
    text-align: right;
}

label {
    margin-right: 1ch;
}

td.important {
    font-weight: bold;
}

td.intel {
    font-style: italic;
}

td.unimportant {
    font-style: italic;
}
